<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Angular Maps</title>
    <!--conección de AngularJS Framework-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
    <script src="ng-csv-0.3.6/build/ng-csv.js"></script>
      
      
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"><!--Importando fuente Oswald desde Google Fonts-->
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'><!--Importando estilo de bootstrap-->

        <link rel="stylesheet" href="css/style.css"> <!--Importando estilo desde archivo local-->       
    
    
  </head>

  <body>

    <script src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script><!--Se importa la API de GoogleMaps de JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script><!--Se importa el framework de AngularJS-->
      
<div ng-app="mapsApp" ng-controller="MapCtrl"><!--Enlazamos el controllador y el módulo mediante las directivas-->
  <div class="container">
      
      
      <h1 id="titulo">Mapa interactivo</h1>
     
      
      
   <!-- <pre> {{cities | json}}</pre> -->
    <div class="row">
      <div class="col-sm-12">
        <label for="city">Nombre</label>
          <!--Entrada del nombre de la ubicación-->
        <input type="text" placeholder="Introduce el nombre de la ubicación.."class="form-control" ng-model="city" />
        <label  for="desc">Descripción</label>
          <!--Breve descripción del lugar-->
        <input type="text" placeholder="Describe brevemente la ubicación.." class="form-control" ng-model="desc" />
        <label  for="lat">Latitud</label>
          <!--Latitud-->
        <input type="text" placeholder="Ingresa la altitud.." class="form-control" ng-model="lat" />
        <label  for="long">Longitud</label>
          <!--Longitud-->
        <input type="text" placeholder="Ingresa la longitud.." class="form-control" ng-model="long" />
        <br>
           <!--Botón que con un evento de la directiva ng-click dispara el método agregarDireccion-->
        <button class="pull-right btn btn-success" ng-click="agregarDireccion()">Nueva Dirección</button>
      </div>
    </div>
    <br / >  
    <!--Div que contiene el mapa-->
    <div id="map"></div> 
    <br / >
     
      
     
      <label for="filename">Nombre del archivo CSV</label>
       <!--Entrada de tipo texto que mediante la directiva ng-model almacena el nombre del archivo-->
        <input type="text" placeholder="Ingresa un nombre.." ng-model="nombre" />
       <!--botón con el que se dispara el método guardarJSON. Al ejecutarse lanza la descarga-->
      <a class="pull-center btn btn-success" ng-click="saveJSON()" ng-href="{{ url }}">Exportar a JSON</a>
      
       <!--Pie de la página con mis datos-->
      <div class="footer">
     <p>Proyecto Desarrollo de Aplicaciones Web
        
    </p>
  </div>
    
</div>
    
         
    
      </div>
      <!--Se importa el archivo JavaScript mediante un script-->
        <script src="js/index.js"></script>
      
      
    
    
  </body>
</html>
